@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #4e4e4e;
  color: #fff;
}

.scrollTop.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

.text-shadow {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.carousel-image {
  position: relative;
  width: 100%;
  height: 100vh;
  animation: scale-infinite 30s infinite;
}
@keyframes scale-infinite {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.slide-down {
  background: linear-gradient(
      to bottom,
      rgba(30, 27, 27, 0.5) 0%,
      rgba(25, 24, 24, 0.5) 100%
    )
    center no-repeat;
  animation: slide 0.8s ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.text-rise-animation span {
  display: inline-block;
  transform: translate(0, 10rem);
  opacity: 0;
  animation: rise 1s forwards;
  animation-delay: var(--i);
}

@keyframes rise {
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.nav-el {
  position: relative;
}

.nav-el::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #54595f;
  transition: height 0.3s ease;
  z-index: -1;
}

.nav-el:hover::before {
  height: 100%;
}
.typewriter {
  white-space: pre;
  overflow: hidden;
  border-right: 3px solid white;
  animation: typewriter 1.5s steps(40) infinite alternate,
    blink 800ms steps(40) infinite;
  animation-delay: 2s !important;
}

@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 33%;
  }
}
@keyframes blink {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}

.top-nav {
  font-family: "Montserrat", sans-serif;
}
.bottom-nav {
  font-family: "Montserrat", sans-serif;
}
.hero-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.content {
  font-family: "Roboto", sans-serif;
}
.headings {
  font-family: "Poppins", sans-serif;
}

.btn-txt{
  font-family: "Roboto", sans-serif;
}
